<div class="text-center jumbotron">
	<h2>Welcome to MyRecipes.com</h2>
	<a href="#" class="btn btn-primary btn-md btn-success" id="sign_up"><span class="glyphicon glyphicon-user"></span> Sign up</a>
</div>
<div class="row">
	<div class="col-sm-12 col-md-4 col-lg-4">
		<div class="header_content">
			<h3>dosa recipe and dosa batter in a mixer-grinder</h3>
		</div>
		<div class="body_content">
			dosa recipe and dosa batter in a mixer-grinder - dosa is a famous breakfast or snack both in india as well as outside india. dosas are basically rice and lentil crepes. there are many varieties of dosa and the texture ranges from crisp to soft to fluffy to light. these varying textures are due to the proportion of the rice, urad dal and other ingredients used in the dosa batter …
		</div>
		<div class="footer_content text-center">
			<a class="details_recipe">Read More</a>
		</div>
	</div>
	<div class="col-sm-12 col-md-4 col-lg-4">
		<div class="header_content">
			<h3>dosa recipe and dosa batter in a mixer-grinder</h3>
		</div>
		<div class="body_content">
			dosa recipe and dosa batter in a mixer-grinder - dosa is a famous breakfast or snack both in india as well as outside india. dosas are basically rice and lentil crepes. there are many varieties of dosa and the texture ranges from crisp to soft to fluffy to light. these varying textures are due to the proportion of the rice, urad dal and other ingredients used in the dosa batter …
		</div>
		<div class="footer_content text-center">
			<a class="details_recipe">Read More</a>
		</div>
	</div>	
	<div class="col-sm-12 col-md-4 col-lg-4">
		<div class="header_content">
			<h3>dosa recipe and dosa batter in a mixer-grinder</h3>
		</div>
		<div class="body_content">
			dosa recipe and dosa batter in a mixer-grinder - dosa is a famous breakfast or snack both in india as well as outside india. dosas are basically rice and lentil crepes. there are many varieties of dosa and the texture ranges from crisp to soft to fluffy to light. these varying textures are due to the proportion of the rice, urad dal and other ingredients used in the dosa batter …
		</div>
		<div class="footer_content text-center">
			<a class="details_recipe">Read More</a>
		</div>
	</div>
</div>